ul {
  list-style: none;
  padding: 0;
}
ul li {
  font-size: 1.25em;
  cursor: pointer;
}

input[type=checkbox] {
  margin-right: 10px;
}
#clear {
  padding: 10px;
  border: solid 1px black;
  display: inline-block;
  cursor: pointer;
}
.hidden {
  display: none;
}
#completed-tasks ul li {
  text-decoration: line-through;
  cursor: default;
}
